openapi: 3.0.3
info:
  title: 'weLore API'
  description: 'The WeLore API allows creators, brands, and communities to integrate a gamified loyalty system without writing code. It handles users, missions, digital rewards, collectibles, custom currencies, and seasonal narratives — all designed to turn every interaction into part of your brand story.'
  version: 1.0.0
servers:
  -
    url: 'https://api-weafinity.madfenix.com'
tags:
  -
    name: 'Blockchain operations'
    description: "\nAPIs for managing blockchain transfers to Hedera"
  -
    name: Endpoints
    description: ''
  -
    name: 'Event management'
    description: "\nAPIs for managing events"
  -
    name: 'Events meta management'
    description: "\nAPIs for managing events meta"
  -
    name: 'Free Coin Coupon management'
    description: "\nAPIs for managing free coin coupons"
  -
    name: 'Habit management'
    description: "\nAPIs for managing habits"
  -
    name: 'Item Coupons management'
    description: "\nAPIs for managing item coupons"
  -
    name: 'Item management'
    description: "\nAPIs for managing Items"
  -
    name: 'Phoenix Diary management'
    description: "\nAPIs for managing phoenix diary"
  -
    name: 'Poll management'
    description: "\nAPIs for managing polls"
  -
    name: 'Premium Coin Coupons management'
    description: "\nAPIs for managing premium coin coupons"
  -
    name: 'Product Order management'
    description: "\nAPIs for managing product orders"
  -
    name: 'Product management'
    description: "\nAPIs for managing products"
  -
    name: 'Profile management'
    description: "\nAPIs for managing profiles"
  -
    name: 'Ranking management'
    description: "\nAPIs for managing rankings"
  -
    name: 'Rankings season management'
    description: "\nAPIs for managing rankings seasons"
  -
    name: 'Season Rewards management'
    description: "\nAPIs for managing season rewards"
  -
    name: 'Season management'
    description: "\nAPIs for managing seasons"
  -
    name: 'Steam management'
    description: "\nAPIs for managing steam conections"
  -
    name: 'Subitems management'
    description: "\nAPIs for managing SubItem (specific instances of Items)"
  -
    name: 'Twitch management'
    description: "\nAPIs for managing teitch conections"
  -
    name: 'User management'
    description: "\nAPIs for managing users"
  -
    name: 'User management admin'
    description: "\nAPIs for managing users by admins"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
paths:
  '/api/{account}/blockchain/transferPlumasToHedera':
    post:
      summary: 'Transfer Plumas to Hedera'
      operationId: transferPlumasToHedera
      description: "Transfer a specified amount of Plumas (feathers) from the user's account to Hedera blockchain."
      parameters: []
      responses: {  }
      tags:
        - 'Blockchain operations'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_hedera:
                  type: string
                  description: 'The Hedera account ID to transfer to.'
                  example: '"0.0.123456"'
                  nullable: false
                plumas:
                  type: integer
                  description: 'The amount of plumas to transfer (minimum 1).'
                  example: 10
                  nullable: false
              required:
                - id_hedera
                - plumas
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/blockchain/transferOroToHedera':
    post:
      summary: 'Transfer Oro to Hedera'
      operationId: transferOroToHedera
      description: "Transfer a specified amount of Oro (gold) from the user's account to Hedera blockchain."
      parameters: []
      responses: {  }
      tags:
        - 'Blockchain operations'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_hedera:
                  type: string
                  description: 'The Hedera account ID to transfer to.'
                  example: '"0.0.123456"'
                  nullable: false
                oro:
                  type: integer
                  description: 'The amount of oro to transfer (minimum 1).'
                  example: 5
                  nullable: false
              required:
                - id_hedera
                - oro
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/blockchain/transferNftToHedera':
    post:
      summary: 'Transfer NFT to Hedera'
      operationId: transferNFTToHedera
      description: "Transfer a specific NFT from the user's account to Hedera blockchain."
      parameters: []
      responses: {  }
      tags:
        - 'Blockchain operations'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_hedera:
                  type: string
                  description: 'The Hedera account ID to transfer to.'
                  example: '"0.0.123456"'
                  nullable: false
                nft_identification_id:
                  type: integer
                  description: 'The ID of the NFT identification to transfer.'
                  example: 42
                  nullable: false
              required:
                - id_hedera
                - nft_identification_id
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/user':
    get:
      summary: ''
      operationId: getApiAccountUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/user-is-manager':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/user-is-employee':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/getFighterUser':
    get:
      summary: ''
      operationId: getApiAccountFighterGetFighterUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/setFighterUserDecks':
    post:
      summary: ''
      operationId: postApiAccountFighterSetFighterUserDecks
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deck_number:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
                deck:
                  type: string
                  description: ''
                  example: consequatur
                  nullable: false
              required:
                - deck_number
                - deck
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/getFighterFriends':
    get:
      summary: ''
      operationId: getApiAccountFighterGetFighterFriends
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/findFighterFriend':
    post:
      summary: ''
      operationId: postApiAccountFighterFindFighterFriend
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: consequatur
                  nullable: false
              required:
                - name
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/requestFighterFriend':
    post:
      summary: ''
      operationId: postApiAccountFighterRequestFighterFriend
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
              required:
                - user_id
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/getFighterFriendRequests':
    get:
      summary: ''
      operationId: getApiAccountFighterGetFighterFriendRequests
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/approveFighterFriendRequest':
    post:
      summary: ''
      operationId: postApiAccountFighterApproveFighterFriendRequest
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
              required:
                - user_id
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/cancelFighterFriendRequest':
    post:
      summary: ''
      operationId: postApiAccountFighterCancelFighterFriendRequest
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
              required:
                - user_id
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/getRanking':
    get:
      summary: ''
      operationId: getApiAccountFighterGetRanking
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/findFighterUserBattle':
    post:
      summary: ''
      operationId: postApiAccountFighterFindFighterUserBattle
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bot:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
              required:
                - bot
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/saveFighterUserBattleTurn':
    post:
      summary: ''
      operationId: postApiAccountFighterSaveFighterUserBattleTurn
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                card_left:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
                card_center:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
                card_right:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/resolveFighterUsersBattleTurn':
    post:
      summary: ''
      operationId: postApiAccountFighterResolveFighterUsersBattleTurn
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/fighter/getFighterUserBattle':
    get:
      summary: ''
      operationId: getApiAccountFighterGetFighterUserBattle
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/event/list':
    get:
      summary: 'Display a listing of current events for the authenticated user.'
      operationId: displayAListingOfCurrentEventsForTheAuthenticatedUser
      description: 'Get a list of all active events for the current user.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Event management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/event/readEvent':
    post:
      summary: 'Mark an event as read.'
      operationId: markAnEventAsRead
      description: 'Update the read_at timestamp for a specific event.'
      parameters: []
      responses: {  }
      tags:
        - 'Event management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_id:
                  type: integer
                  description: 'The ID of the event to mark as read.'
                  example: 1
                  nullable: false
              required:
                - event_id
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/event-metas':
    get:
      summary: 'Display a listing of event metas.'
      operationId: displayAListingOfEventMetas
      description: 'Get a paginated list of all event metas.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Events meta management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter event metas by description.'
                  example: '"Important"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort event metas by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter event metas by parent ID.'
                  example: 1
                  nullable: false
      security: []
    post:
      summary: 'Store a newly created event meta.'
      operationId: storeANewlyCreatedEventMeta
      description: 'Create a new event meta with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Events meta management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                creator_id:
                  type: integer
                  description: 'The ID of the user creating the event meta.'
                  example: 1
                  nullable: false
                description:
                  type: string
                  description: 'The short description of the event meta (4-255 chars).'
                  example: '"New event meta"'
                  nullable: false
                details:
                  type: string
                  description: 'The detailed description of the event meta (8-2000 chars).'
                  example: '"This is a detailed description of the event meta with all relevant information."'
                  nullable: false
                product_gift_id:
                  type: integer
                  description: 'The ID of the product gift.'
                  example: 10
                  nullable: false
                start_at:
                  type: datetime
                  description: 'The start date and time of the event meta.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_at:
                  type: datetime
                  description: 'The end date and time of the event meta.'
                  example: '"2023-01-31 23:59:59"'
                  nullable: false
              required:
                - creator_id
                - description
                - details
                - start_at
                - end_at
      security: []
    delete:
      summary: 'Remove the specified event meta.'
      operationId: removeTheSpecifiedEventMeta
      description: 'Delete an event meta by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Events meta management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/event-metas/{id}':
    get:
      summary: 'Display the specified event meta.'
      operationId: displayTheSpecifiedEventMeta
      description: 'Get details of a specific event meta by ID.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Events meta management'
      security: []
    put:
      summary: 'Update the specified event meta.'
      operationId: updateTheSpecifiedEventMeta
      description: 'Update an existing event meta with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Events meta management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                creator_id:
                  type: integer
                  description: 'The ID of the user creating the event meta.'
                  example: 1
                  nullable: false
                description:
                  type: string
                  description: 'The short description of the event meta (4-255 chars).'
                  example: '"Updated event meta"'
                  nullable: false
                details:
                  type: string
                  description: 'The detailed description of the event meta (8-2000 chars).'
                  example: '"This is an updated detailed description of the event meta with all relevant information."'
                  nullable: false
                product_gift_id:
                  type: integer
                  description: 'The ID of the product gift.'
                  example: 10
                  nullable: false
                start_at:
                  type: datetime
                  description: 'The start date and time of the event meta.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_at:
                  type: datetime
                  description: 'The end date and time of the event meta.'
                  example: '"2023-01-31 23:59:59"'
                  nullable: false
              required:
                - creator_id
                - description
                - details
                - start_at
                - end_at
      security: []
    delete:
      summary: 'Remove the specified event meta.'
      operationId: removeTheSpecifiedEventMeta
      description: 'Delete an event meta by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Events meta management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the event meta.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/event-metas-download':
    get:
      summary: 'Download event metas as CSV or JSON.'
      operationId: downloadEventMetasAsCSVOrJSON
      description: 'Export the event meta data in CSV or JSON format.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Events meta management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 'The file format to download (csv or json).'
                  example: '"csv"'
                  nullable: false
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter event metas by description.'
                  example: '"Important"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort event metas by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter event metas by parent ID.'
                  example: 1
                  nullable: false
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/event-metas-fields':
    get:
      summary: 'List the fields of the event meta model.'
      operationId: listTheFieldsOfTheEventMetaModel
      description: 'Get the structure and field types of the event meta model.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Events meta management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/event-metas-upload':
    post:
      summary: 'Upload a CSV file for bulk event meta processing.'
      operationId: uploadACSVFileForBulkEventMetaProcessing
      description: 'Upload a CSV file to create multiple event metas at once.'
      parameters: []
      responses: {  }
      tags:
        - 'Events meta management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'The CSV file to upload (max 1MB). Must be a CSV file.'
                  nullable: false
                header_mapping:
                  type: array
                  description: 'Array of headers mapping to event meta fields.'
                  example:
                    - consequatur
                  items:
                    type: string
              required:
                - file
                - header_mapping
      security: []
    get:
      summary: 'Get the status of a bulk event meta upload.'
      operationId: getTheStatusOfABulkEventMetaUpload
      description: 'Check the progress of a previously submitted bulk upload.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Events meta management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/event-metas-upload/{id}':
    delete:
      summary: 'Delete a bulk event meta upload.'
      operationId: deleteABulkEventMetaUpload
      description: 'Remove a pending or processing bulk upload.'
      parameters: []
      responses: {  }
      tags:
        - 'Events meta management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the event metas upload.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-free':
    get:
      summary: 'Display a listing of free coin coupons.'
      operationId: displayAListingOfFreeCoinCoupons
      description: 'Get a paginated list of all free coin coupons.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter coupons by code.'
                  example: '"WELCOME"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort coupons by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter coupons by parent ID.'
                  example: 1
                  nullable: false
      security: []
    post:
      summary: 'Store a newly created free coin coupon.'
      operationId: storeANewlyCreatedFreeCoinCoupon
      description: 'Create a new free coin coupon with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code (4-150 chars).'
                  example: '"WELCOME2023"'
                  nullable: false
                plumas:
                  type: integer
                  description: 'The number of plumas (feathers) to award.'
                  example: 100
                  nullable: false
                uses:
                  type: integer
                  description: 'The current number of uses.'
                  example: 0
                  nullable: false
                max_uses:
                  type: integer
                  description: 'The maximum number of uses allowed.'
                  example: 1000
                  nullable: false
                start_date:
                  type: datetime
                  description: 'The start date and time of the coupon validity.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_date:
                  type: datetime
                  description: 'The end date and time of the coupon validity.'
                  example: '"2023-12-31 23:59:59"'
                  nullable: false
              required:
                - coupon
                - start_date
                - end_date
      security: []
    delete:
      summary: 'Remove the specified free coin coupon.'
      operationId: removeTheSpecifiedFreeCoinCoupon
      description: 'Delete a free coin coupon by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-free/{id}':
    get:
      summary: 'Display the specified free coin coupon.'
      operationId: displayTheSpecifiedFreeCoinCoupon
      description: 'Get details of a specific free coin coupon by ID.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Free Coin Coupon management'
      security: []
    put:
      summary: 'Update the specified free coin coupon.'
      operationId: updateTheSpecifiedFreeCoinCoupon
      description: 'Update an existing free coin coupon with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code (4-150 chars).'
                  example: '"WELCOME2023"'
                  nullable: false
                plumas:
                  type: integer
                  description: 'The number of plumas (feathers) to award.'
                  example: 100
                  nullable: false
                uses:
                  type: integer
                  description: 'The current number of uses.'
                  example: 0
                  nullable: false
                max_uses:
                  type: integer
                  description: 'The maximum number of uses allowed.'
                  example: 1000
                  nullable: false
                start_date:
                  type: datetime
                  description: 'The start date and time of the coupon validity.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_date:
                  type: datetime
                  description: 'The end date and time of the coupon validity.'
                  example: '"2023-12-31 23:59:59"'
                  nullable: false
              required:
                - coupon
                - start_date
                - end_date
      security: []
    delete:
      summary: 'Remove the specified free coin coupon.'
      operationId: removeTheSpecifiedFreeCoinCoupon
      description: 'Delete a free coin coupon by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the coupon free.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-free-download':
    get:
      summary: 'Download free coin coupons as CSV or JSON.'
      operationId: downloadFreeCoinCouponsAsCSVOrJSON
      description: 'Export the free coin coupon data in CSV or JSON format.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 'The file format to download (csv or json).'
                  example: '"csv"'
                  nullable: false
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter coupons by code.'
                  example: '"WELCOME"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort coupons by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter coupons by parent ID.'
                  example: 1
                  nullable: false
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-free-fields':
    get:
      summary: 'List the fields of the free coin coupon model.'
      operationId: listTheFieldsOfTheFreeCoinCouponModel
      description: 'Get the structure and field types of the free coin coupon model.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Free Coin Coupon management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-free-upload':
    post:
      summary: 'Upload a CSV file for bulk free coin coupon processing.'
      operationId: uploadACSVFileForBulkFreeCoinCouponProcessing
      description: 'Upload a CSV file to create multiple free coin coupons at once.'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'The CSV file to upload (max 1MB). Must be a CSV file.'
                  nullable: false
                header_mapping:
                  type: array
                  description: 'Array of headers mapping to free coin coupon fields.'
                  example:
                    - consequatur
                  items:
                    type: string
              required:
                - file
                - header_mapping
      security: []
    get:
      summary: 'Get the status of a bulk free coin coupon upload.'
      operationId: getTheStatusOfABulkFreeCoinCouponUpload
      description: 'Check the progress of a previously submitted bulk upload.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Free Coin Coupon management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-free-upload/{id}':
    delete:
      summary: 'Delete a bulk free coin coupon upload.'
      operationId: deleteABulkFreeCoinCouponUpload
      description: 'Remove a pending or processing bulk upload.'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the coupon free upload.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/coupon/usePlumasCoupon':
    post:
      summary: 'Use a plumas (feathers) coupon.'
      operationId: useAPlumasfeathersCoupon
      description: 'Redeem a coupon code to receive plumas (feathers).'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code to redeem.'
                  example: '"WELCOME2023"'
                  nullable: false
              required:
                - coupon
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/coupon/useOroCoupon':
    post:
      summary: 'Use an oro (gold) coupon.'
      operationId: useAnOrogoldCoupon
      description: 'Redeem a coupon code to receive oro (gold).'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code to redeem.'
                  example: '"GOLD2023"'
                  nullable: false
              required:
                - coupon
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/coupon/useItemCoupon':
    post:
      summary: 'Use an item coupon.'
      operationId: useAnItemCoupon
      description: 'Redeem a coupon code to receive an item.'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code to redeem.'
                  example: '"ITEM2023"'
                  nullable: false
              required:
                - coupon
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/coupon/useCoupon':
    post:
      summary: 'Use any type of coupon.'
      operationId: useAnyTypeOfCoupon
      description: 'Redeem a coupon code with a prefix to determine the type (p- for plumas, o- for oro, i- for item).'
      parameters: []
      responses: {  }
      tags:
        - 'Free Coin Coupon management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code to redeem with prefix (p-, o-, i-).'
                  example: '"p-WELCOME2023"'
                  nullable: false
              required:
                - coupon
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/habit/post':
    post:
      summary: ''
      operationId: postApiAccountHabitPost
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Habit management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
                name:
                  type: string
                  description: ''
                  example: consequatur
                  nullable: false
                order:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
              required:
                - name
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/habit/postComplete':
    post:
      summary: ''
      operationId: postApiAccountHabitPostComplete
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Habit management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 17
                  nullable: false
              required:
                - id
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-items':
    get:
      summary: 'Display a listing of item coupons.'
      operationId: displayAListingOfItemCoupons
      description: 'Get a paginated list of all item coupons.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item Coupons management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter coupons by code.'
                  example: '"ITEM"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort coupons by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter coupons by parent ID.'
                  example: 1
                  nullable: false
      security: []
    post:
      summary: 'Store a newly created item coupon.'
      operationId: storeANewlyCreatedItemCoupon
      description: 'Create a new item coupon with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Item Coupons management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code (4-150 chars).'
                  example: '"ITEM2023"'
                  nullable: false
                nft_id:
                  type: integer
                  description: 'The ID of the NFT to award.'
                  example: 5
                  nullable: false
                rarity:
                  type: string
                  description: 'The rarity filter for NFTs.'
                  example: '"Legendary,Rare"'
                  nullable: false
                tags:
                  type: string
                  description: 'The tags filter for NFTs.'
                  example: '"Fire,Water"'
                  nullable: false
                nft_serial_greater_equal:
                  type: integer
                  description: 'The minimum serial number for NFTs.'
                  example: 100
                  nullable: false
                nft_serial_less_equal:
                  type: integer
                  description: 'The maximum serial number for NFTs.'
                  example: 200
                  nullable: false
                uses:
                  type: integer
                  description: 'The current number of uses.'
                  example: 0
                  nullable: false
                max_uses:
                  type: integer
                  description: 'The maximum number of uses allowed.'
                  example: 1000
                  nullable: false
                start_date:
                  type: datetime
                  description: 'The start date and time of the coupon validity.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_date:
                  type: datetime
                  description: 'The end date and time of the coupon validity.'
                  example: '"2023-12-31 23:59:59"'
                  nullable: false
              required:
                - coupon
                - start_date
                - end_date
      security: []
    delete:
      summary: 'Remove the specified item coupon.'
      operationId: removeTheSpecifiedItemCoupon
      description: 'Delete an item coupon by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Item Coupons management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-items/{id}':
    get:
      summary: 'Display the specified item coupon.'
      operationId: displayTheSpecifiedItemCoupon
      description: 'Get details of a specific item coupon by ID.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item Coupons management'
      security: []
    put:
      summary: 'Update the specified item coupon.'
      operationId: updateTheSpecifiedItemCoupon
      description: 'Update an existing item coupon with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Item Coupons management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                  description: 'The coupon code (4-150 chars).'
                  example: '"ITEM2023"'
                  nullable: false
                nft_id:
                  type: integer
                  description: 'The ID of the NFT to award.'
                  example: 5
                  nullable: false
                rarity:
                  type: string
                  description: 'The rarity filter for NFTs.'
                  example: '"Legendary,Rare"'
                  nullable: false
                tags:
                  type: string
                  description: 'The tags filter for NFTs.'
                  example: '"Fire,Water"'
                  nullable: false
                nft_serial_greater_equal:
                  type: integer
                  description: 'The minimum serial number for NFTs.'
                  example: 100
                  nullable: false
                nft_serial_less_equal:
                  type: integer
                  description: 'The maximum serial number for NFTs.'
                  example: 200
                  nullable: false
                uses:
                  type: integer
                  description: 'The current number of uses.'
                  example: 0
                  nullable: false
                max_uses:
                  type: integer
                  description: 'The maximum number of uses allowed.'
                  example: 1000
                  nullable: false
                start_date:
                  type: datetime
                  description: 'The start date and time of the coupon validity.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_date:
                  type: datetime
                  description: 'The end date and time of the coupon validity.'
                  example: '"2023-12-31 23:59:59"'
                  nullable: false
              required:
                - coupon
                - start_date
                - end_date
      security: []
    delete:
      summary: 'Remove the specified item coupon.'
      operationId: removeTheSpecifiedItemCoupon
      description: 'Delete an item coupon by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Item Coupons management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the coupon item.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-items-download':
    get:
      summary: 'Download item coupons as CSV or JSON.'
      operationId: downloadItemCouponsAsCSVOrJSON
      description: 'Export the item coupon data in CSV or JSON format.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item Coupons management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 'The file format to download (csv or json).'
                  example: '"csv"'
                  nullable: false
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter coupons by code.'
                  example: '"ITEM"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort coupons by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter coupons by parent ID.'
                  example: 1
                  nullable: false
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-items-fields':
    get:
      summary: 'List the fields of the item coupon model.'
      operationId: listTheFieldsOfTheItemCouponModel
      description: 'Get the structure and field types of the item coupon model.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item Coupons management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-items-upload':
    post:
      summary: 'Upload a CSV file for bulk item coupon processing.'
      operationId: uploadACSVFileForBulkItemCouponProcessing
      description: 'Upload a CSV file to create multiple item coupons at once.'
      parameters: []
      responses: {  }
      tags:
        - 'Item Coupons management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'The CSV file to upload (max 1MB). Must be a CSV file.'
                  nullable: false
                header_mapping:
                  type: array
                  description: 'Array of headers mapping to item coupon fields.'
                  example:
                    - consequatur
                  items:
                    type: string
              required:
                - file
                - header_mapping
      security: []
    get:
      summary: 'Get the status of a bulk item coupon upload.'
      operationId: getTheStatusOfABulkItemCouponUpload
      description: 'Check the progress of a previously submitted bulk upload.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item Coupons management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-items-upload/{id}':
    delete:
      summary: 'Delete a bulk item coupon upload.'
      operationId: deleteABulkItemCouponUpload
      description: 'Remove a pending or processing bulk upload.'
      parameters: []
      responses: {  }
      tags:
        - 'Item Coupons management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the coupon items upload.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/nft':
    get:
      summary: 'Display a listing of Items.'
      operationId: displayAListingOfItems
      description: 'Get a paginated list of all Items.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter items by name.'
                  example: '"Phoenix"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort items by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter items by parent ID.'
                  example: 1
                  nullable: false
      security: []
    post:
      summary: 'Store a newly created Item.'
      operationId: storeANewlyCreatedItem
      description: 'Create a new Item with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Item management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the Item.'
                  example: '"Rare Phoenix"'
                  nullable: false
                short_description:
                  type: string
                  description: 'The short description of the Item.'
                  example: '"A rare phoenix collectible"'
                  nullable: false
                description:
                  type: string
                  description: 'The detailed description of the Item.'
                  example: '"This is a detailed description of the rare phoenix collectible"'
                  nullable: false
                category:
                  type: string
                  description: 'The category of the Item.'
                  example: '"Collectible"'
                  nullable: false
                subcategory:
                  type: string
                  description: 'The subcategory of the Item.'
                  example: '"Mythical"'
                  nullable: false
                portrait_image:
                  type: string
                  description: 'The portrait image URL of the Item.'
                  example: '"https://example.com/portrait.jpg"'
                  nullable: false
                featured_image:
                  type: string
                  description: 'The featured image URL of the Item.'
                  example: '"https://example.com/featured.jpg"'
                  nullable: false
                token_props:
                  type: integer
                  description: 'The token properties.'
                  example: 1
                  nullable: false
                token_realm:
                  type: integer
                  description: 'The token realm.'
                  example: 2
                  nullable: false
                token_number:
                  type: integer
                  description: 'The token number.'
                  example: 3
                  nullable: false
              required:
                - name
                - token_props
                - token_realm
                - token_number
      security: []
    delete:
      summary: 'Remove the specified Item.'
      operationId: removeTheSpecifiedItem
      description: 'Delete an Item by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Item management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/nft/{id}':
    get:
      summary: 'Display the specified Item.'
      operationId: displayTheSpecifiedItem
      description: 'Get details of a specific Item by ID.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item management'
      security: []
    put:
      summary: 'Update the specified Item.'
      operationId: updateTheSpecifiedItem
      description: 'Update an existing Item with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Item management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the Item.'
                  example: '"Rare Phoenix"'
                  nullable: false
                short_description:
                  type: string
                  description: 'The short description of the Item.'
                  example: '"A rare phoenix collectible"'
                  nullable: false
                description:
                  type: string
                  description: 'The detailed description of the Item.'
                  example: '"This is a detailed description of the rare phoenix collectible"'
                  nullable: false
                category:
                  type: string
                  description: 'The category of the Item.'
                  example: '"Collectible"'
                  nullable: false
                subcategory:
                  type: string
                  description: 'The subcategory of the Item.'
                  example: '"Mythical"'
                  nullable: false
                portrait_image:
                  type: string
                  description: 'The portrait image URL of the Item.'
                  example: '"https://example.com/portrait.jpg"'
                  nullable: false
                featured_image:
                  type: string
                  description: 'The featured image URL of the Item.'
                  example: '"https://example.com/featured.jpg"'
                  nullable: false
                token_props:
                  type: integer
                  description: 'The token properties.'
                  example: 1
                  nullable: false
                token_realm:
                  type: integer
                  description: 'The token realm.'
                  example: 2
                  nullable: false
                token_number:
                  type: integer
                  description: 'The token number.'
                  example: 3
                  nullable: false
              required:
                - name
                - token_props
                - token_realm
                - token_number
      security: []
    delete:
      summary: 'Remove the specified Item.'
      operationId: removeTheSpecifiedItem
      description: 'Delete an Item by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Item management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the nft.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/nft-download':
    get:
      summary: 'Download Items as CSV or JSON.'
      operationId: downloadItemsAsCSVOrJSON
      description: 'Export the Item data in CSV or JSON format.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 'The file format to download (csv or json).'
                  example: '"csv"'
                  nullable: false
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter items by name.'
                  example: '"Phoenix"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort items by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter items by parent ID.'
                  example: 1
                  nullable: false
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/nft-fields':
    get:
      summary: 'List the fields of the Item model.'
      operationId: listTheFieldsOfTheItemModel
      description: 'Get the structure and field types of the Item model.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/nft-upload':
    post:
      summary: 'Upload a CSV file for bulk Item processing.'
      operationId: uploadACSVFileForBulkItemProcessing
      description: 'Upload a CSV file to create multiple Items at once.'
      parameters: []
      responses: {  }
      tags:
        - 'Item management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'The CSV file to upload (max 1MB). Must be a CSV file.'
                  nullable: false
                header_mapping:
                  type: array
                  description: 'Array of headers mapping to Item fields.'
                  example:
                    - consequatur
                  items:
                    type: string
              required:
                - file
                - header_mapping
      security: []
    get:
      summary: 'Get the status of a bulk Item upload.'
      operationId: getTheStatusOfABulkItemUpload
      description: 'Check the progress of a previously submitted bulk upload.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Item management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/nft-upload/{id}':
    delete:
      summary: 'Delete a bulk Item upload.'
      operationId: deleteABulkItemUpload
      description: 'Remove a pending or processing bulk upload.'
      parameters: []
      responses: {  }
      tags:
        - 'Item management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the nft upload.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/thePhoenixDiary/getCharacters':
    get:
      summary: 'Get available characters for Phoenix Diary.'
      operationId: getAvailableCharactersForPhoenixDiary
      description: 'Retrieve a list of all available characters for the Phoenix Diary game.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Phoenix Diary management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/thePhoenixDiary/createNewGame':
    post:
      summary: 'Create a new Phoenix Diary game.'
      operationId: createANewPhoenixDiaryGame
      description: 'Start a new game session with the selected character.'
      parameters: []
      responses: {  }
      tags:
        - 'Phoenix Diary management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: integer
                  description: 'The ID of the character to use in the game.'
                  example: 1
                  nullable: false
              required:
                - character_id
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/poll':
    get:
      summary: 'Display a listing of polls.'
      operationId: displayAListingOfPolls
      description: 'Get a paginated list of all polls.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Poll management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter polls by name.'
                  example: '"Community Survey"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort polls by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter polls by parent ID.'
                  example: 1
                  nullable: false
      security: []
    post:
      summary: 'Store a newly created poll.'
      operationId: storeANewlyCreatedPoll
      description: 'Create a new poll with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Poll management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the poll.'
                  example: '"Community Feedback Survey"'
                  nullable: false
                short_description:
                  type: string
                  description: 'The short description of the poll.'
                  example: '"A quick survey about our latest features"'
                  nullable: false
                description:
                  type: string
                  description: 'The detailed description of the poll.'
                  example: '"This survey aims to collect feedback about our latest platform features and improvements."'
                  nullable: false
                portrait_image:
                  type: string
                  description: 'The portrait image URL of the poll.'
                  example: '"https://example.com/portrait.jpg"'
                  nullable: false
                featured_image:
                  type: string
                  description: 'The featured image URL of the poll.'
                  example: '"https://example.com/featured.jpg"'
                  nullable: false
                answers:
                  type: string
                  description: 'The possible answers for the poll in JSON format.'
                  example: "\"['Yes', 'No', 'Maybe']\""
                  nullable: false
                start_date:
                  type: datetime
                  description: 'The start date and time of the poll.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_date:
                  type: datetime
                  description: 'The end date and time of the poll.'
                  example: '"2023-01-31 23:59:59"'
                  nullable: false
              required:
                - name
                - start_date
                - end_date
      security: []
    delete:
      summary: 'Remove the specified poll.'
      operationId: removeTheSpecifiedPoll
      description: 'Delete a poll by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Poll management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/poll/{id}':
    get:
      summary: 'Display the specified poll.'
      operationId: displayTheSpecifiedPoll
      description: 'Get details of a specific poll by ID.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Poll management'
      security: []
    put:
      summary: 'Update the specified poll.'
      operationId: updateTheSpecifiedPoll
      description: 'Update an existing poll with the provided data.'
      parameters: []
      responses: {  }
      tags:
        - 'Poll management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the poll.'
                  example: '"Updated Community Feedback Survey"'
                  nullable: false
                short_description:
                  type: string
                  description: 'The short description of the poll.'
                  example: '"A quick survey about our latest features"'
                  nullable: false
                description:
                  type: string
                  description: 'The detailed description of the poll.'
                  example: '"This survey aims to collect feedback about our latest platform features and improvements."'
                  nullable: false
                portrait_image:
                  type: string
                  description: 'The portrait image URL of the poll.'
                  example: '"https://example.com/portrait.jpg"'
                  nullable: false
                featured_image:
                  type: string
                  description: 'The featured image URL of the poll.'
                  example: '"https://example.com/featured.jpg"'
                  nullable: false
                answers:
                  type: string
                  description: 'The possible answers for the poll in JSON format.'
                  example: "\"['Yes', 'No', 'Maybe']\""
                  nullable: false
                start_date:
                  type: datetime
                  description: 'The start date and time of the poll.'
                  example: '"2023-01-01 00:00:00"'
                  nullable: false
                end_date:
                  type: datetime
                  description: 'The end date and time of the poll.'
                  example: '"2023-01-31 23:59:59"'
                  nullable: false
              required:
                - name
                - start_date
                - end_date
      security: []
    delete:
      summary: 'Remove the specified poll.'
      operationId: removeTheSpecifiedPoll
      description: 'Delete a poll by ID.'
      parameters: []
      responses: {  }
      tags:
        - 'Poll management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the poll.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/poll-download':
    get:
      summary: 'Download polls as CSV or JSON.'
      operationId: downloadPollsAsCSVOrJSON
      description: 'Export the poll data in CSV or JSON format.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Poll management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 'The file format to download (csv or json).'
                  example: '"csv"'
                  nullable: false
                page:
                  type: integer
                  description: 'The page number for pagination.'
                  example: 0
                  nullable: false
                limit:
                  type: integer
                  description: 'The number of items per page (1-100).'
                  example: 10
                  nullable: false
                filter:
                  type: string
                  description: 'Filter polls by name.'
                  example: '"Community Survey"'
                  nullable: false
                sorting:
                  type: string
                  description: 'Sort polls by column and direction (column:direction).'
                  example: '"created_at:desc"'
                  nullable: false
                parent_id:
                  type: integer
                  description: 'Filter polls by parent ID.'
                  example: 1
                  nullable: false
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/poll-fields':
    get:
      summary: 'List the fields of the poll model.'
      operationId: listTheFieldsOfThePollModel
      description: 'Get the structure and field types of the poll model.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Poll management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/poll-upload':
    post:
      summary: 'Upload a CSV file for bulk poll processing.'
      operationId: uploadACSVFileForBulkPollProcessing
      description: 'Upload a CSV file to create multiple polls at once.'
      parameters: []
      responses: {  }
      tags:
        - 'Poll management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'The CSV file to upload (max 1MB). Must be a CSV file.'
                  nullable: false
                header_mapping:
                  type: array
                  description: 'Array of headers mapping to poll fields.'
                  example:
                    - consequatur
                  items:
                    type: string
              required:
                - file
                - header_mapping
      security: []
    get:
      summary: 'Get the status of a bulk poll upload.'
      operationId: getTheStatusOfABulkPollUpload
      description: 'Check the progress of a previously submitted bulk upload.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Poll management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/poll-upload/{id}':
    delete:
      summary: 'Delete a bulk poll upload.'
      operationId: deleteABulkPollUpload
      description: 'Remove a pending or processing bulk upload.'
      parameters: []
      responses: {  }
      tags:
        - 'Poll management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The ID of the poll upload.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/poll/pollDetails':
    get:
      summary: 'Get details of a specific poll.'
      operationId: getDetailsOfASpecificPoll
      description: 'Retrieve detailed information about a poll including its status for the current user.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Poll management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                poll_id:
                  type: integer
                  description: 'The ID of the poll to get details for.'
                  example: 1
                  nullable: false
                active:
                  type: boolean
                  description: 'Whether to only include active polls.'
                  example: true
                  nullable: false
              required:
                - poll_id
                - active
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/poll/pollsDetailsLast30Days':
    get:
      summary: 'Get details of polls from the last 30 days.'
      operationId: getDetailsOfPollsFromTheLast30Days
      description: 'Retrieve information about all polls that were active in the last 30 days.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Poll management'
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/poll/answerPoll':
    post:
      summary: 'Submit an answer to a poll.'
      operationId: submitAnAnswerToAPoll
      description: "Record a user's response to a specific poll."
      parameters: []
      responses: {  }
      tags:
        - 'Poll management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                poll_id:
                  type: integer
                  description: 'The ID of the poll to answer.'
                  example: 1
                  nullable: false
                answer:
                  type: string
                  description: "The user's answer to the poll."
                  example: '"Yes"'
                  nullable: false
              required:
                - poll_id
                - answer
      security: []
    parameters:
      -
        in: path
        name: account
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/{account}/manager/coupon-payment':
    get:
      summary: 'Display a listing of premium coin coupons.'
      operationId: displayAListingOfPremiumCoinCoupons
      description: 'Get a paginated list of all premium coin coupons.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
[...]
